@model IEnumerable<TT_Auth.Models.Entity.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subdivision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutOfOfficeBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Role)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.PeoplePartner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserInfo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subdivision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutOfOfficeBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            @*  <td>
                 @Html.DisplayFor(modelItem => item.Role.Description)
             </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.PeoplePartner.Position)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
